.comment-link a, a:link, a:active{
    padding:5px 10px;
    color: blue;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 10px;
}



.comment-link a:hover {
    color: grey;
    text-decoration: none;
}


